.product {
  border: none;
  border-radius: 0;

  &__img {
    border-radius: 0;
    border: none;
  }

  &__oldprice {
    color: gray;
    text-decoration: line-through;
  }
}

.card__body {
  padding: 1rem 0.5rem;

  & p {
    padding: 0.1rem;

    &:last-of-type {
      font-weight: 600;
    }
  }

  a {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
}
