.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;

  &__logo {
  }

  &__listwrapper {
    flex-grow: 0.5;
  }

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
  }
}
