@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "./../../styles/variables";

.product-detail {
  justify-content: space-between;

  @include media-breakpoint-up(xl) {
    padding: 3rem;
    padding-top: 0;
  }

  &__breadcrumb {
    --bs-breadcrumb-divider: ">";
  }

  &__title {
    font-size: 1.875rem;
  }

  &__subtitle {
    font-size: 2.125rem;
  }

  &__btn {
    background-color: $color-dark;

    &:hover {
      background-color: lighten($color: $color-dark, $amount: 10%);
    }

    &:active:hover {
      background-color: lighten($color: $color-dark, $amount: 10%);
    }
  }

  &__quantity {
    background-color: $color-white-alt2;
    margin-top: 10%;
    margin-bottom: 1rem;
  }

  &__links {
    padding: 1rem 0;

    span {
      margin-right: 0.5rem;
    }
  }
}

.price {
  font-size: 1.625rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  &__old {
    color: $color-silver-alt;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: line-through;
    margin-left: 1rem;
  }
}

.color-selector {
  margin-top: 3rem;

  &__option {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }
}
